body{
    background: linear-gradient( #29B6F6 0%, #FAFAFA 100%) ; 
}


.bios {
    
    text-align: center;
    font-size: 18;
    font-family: ink free;
    font-style: bold;
    color: red;
    padding: 20px;
    border: 30px;
   

}

.imgyes {
    border-radius: 50%;
    padding: 0.55%;
}

h1 {
    font-size: 20px;

}

.menu{
    text-align: center;
    display: inline;
    list-style: none;
    font-family: cursive;
    float: center;
    top: 10px;
    right: 30px
    cursor: pointer;
    color: black;
    font-size: 15px;
    
}
li{
    display: inline;
    border: 10px;
    right: 30px;
}
    